<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>Health Haven</title>
		<link rel="stylesheet" href="../static/styles/style.css" type="text/css" />
		<!--[if IE 7]>
			<link rel="stylesheet" href="css/ie7.css" type="text/css" />
		<![endif]-->
	</head>
	<body>
		<div class="page">
			<div class="header">
				<a href="index.html" id="logo"><img src="../static/images/facebook_cover_photo_2.png" alt=""/></a>
				<ul>
					<li class="selected"><a href="index.html">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Doctors</a></li>
					<li><a href="#">Services</a></li>
				</ul>
			</div>
			<div class="body">
				<h3><b>This is where I would put some articels. IF I HAD ANY.</b></h3>
			</div>
			<div class="footer">
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Doctors</a></li>
					<li><a href="#">Services</a></li>
				</ul>
				<p>Copyright &#169; 2019 Health Haven</p>
				<div class="connect">
					<a href="#" id="facebook">facebook</a>
					<a href="#" id="twitter">twitter</a>
					<a href="#" id="vimeo">vimeo</a>
				</div>
			</div>
		</div>
	</body>
</html>  
